body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  color: black;
  padding: 5px 35px 20px 0px;
  text-align: center;
  margin: 0 0;
  box-shadow: 0 5px 6px #0000000f;
}

.contenedor-header {
    display: flex;
    align-items: center;
}

.contenedor-header img.logo {
    width: 280px;
    height: auto;
    margin: 5px;
    text-align: center;
}

header h1 {
  margin: 10px 0 0px 0;
  font-size: 2em;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 17px 0 0px 0;  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: text-decoration 0.2s, color 0.2s;
}

nav ul a:hover {
  text-decoration: underline;
  color: #00aaff;
}

main {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 15px;
}

main h2 {
  font-size: 2rem;           
  text-align: center;        
  margin: 40px 0 20px;       
  color: #000000;           
  font-weight: bold;
  position: relative;
}


article {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  max-width: 700px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

article img {
  width: 150px;   
  height: auto;
  border-radius: 8px;
  flex-shrink: 0; 
}

article div {
  flex: 1;        
}

footer {
  background: #3b6a9f;
  color: #f5f5f5;
  padding: 20px 0 10px 0;
  margin: 0;
  width: 100%;
}

.grilla-footer i {
    margin-right: 8px;
    color: #46bddb;
    min-width: 20px;
}

.grilla-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    text-align: center;
}

.grilla-footer h4 {
    margin-bottom: 8px;
}

.grilla-footer a {
  color: white;
  text-decoration: none;
}

.grilla-footer a:hover {
  text-decoration: underline;
}

.grilla-footer .copyright {
    grid-column: 1 / span 4;
    border-top: 1px solid #00317aa8;
    padding-top: 10px;
}

.copyright {
    text-align: center;
    font-size: 13px;
}