.btn-dia,
.btn-hora {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 1px solid #dee2e6;
  background: #f8f9fa;
  cursor: pointer;
}

.btn-dia.active,
.btn-hora.active {
  background: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.btn-hora[disabled] {
  opacity: .4;
  cursor: not-allowed;
}

.main {
  padding-right: 12px !important;
  padding-left: 12px  !important;
}

.container {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .nav-item.btn {
    margin-top: 10px;
  }
}




@media (min-width: 769px) {
  .nav-item.btn {
    margin-top: 0;
    margin-left: 1rem;
  }

}

@media (max-width: 768px) {
  .nav-item.btn {
    margin-top: 10px;
  }
}
